.formdiv {
  display: flex;
  flex-direction: column;
  padding: 2rem 12rem;
  // width: 50%;
}

.formbody {
  display: grid;
  grid-template-columns: 25rem auto;
  column-gap: 2rem;
  margin-top: 2rem;
}

.formfooter {
  display: inline-flex;
  justify-content: space-between;
  margin: 10rem 0rem 1rem 0rem;
}

.checkbox {
  margin-top: 20px;
  font-size: 16px !important;
  accent-color: #2cb8b1;
  transform: scale(1.2);
  color: #fff;
}
button {
  background-color: #2cb8b1;
  font-size: 16px;
  font-family: Nunito;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
